<% include ./Partials/header.ejs %>
<div class="profile-card">
    <form id="uploadform" hidden action="/fileupload" method="post" enctype="multipart/form-data">
        <input type="file" name="image">
    </form>
        <div id="uploaddp" class="image">
         <img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjxivAs4UknzmDfLBXGMxQkayiZDhR2ftB4jcIV7LEnIEStiUyMygioZnbLXCAND-I_xWQpVp0jv-dv9NVNbuKn4sNpXYtLIJk2-IOdWQNpC2Ldapnljifu0pnQqAWU848Ja4lT9ugQex-nwECEh3a96GXwiRXlnGEE6FFF_tKm66IGe3fzmLaVIoNL/s1600/img_avatar.png" alt="" class="profile-img" />
        </div>
   

    <div class="text-data">
      <span class="name">Mohamed Yousef</span>
      <span class="job">News Editor & Developer & Blogger
</span>
    </div>

    <div class="buttons">
      <a href="/uploadapp" class="button">Publish App</a>

    </div>
  </div>

  <script>
    document.querySelector("#uploaddp").addEventListener("click",function(){
        document.querySelector("#uploadform input").click();
    })

    document.querySelector("#uploadform input").addEventListener("change",function(){
        document.querySelector("#uploadform").submit();
    })
  </script>

<% include ./Partials/footer.ejs %>